@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}
#body{
    transition: all .5s;
}

#navbar {
    transition: all .5s;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    width:100%;
    height: 70px;
    top:0px;
    padding:0 30px;
    position:fixed;
    background:#2D3243;
}

.navbar a{
    color:#fff;
    padding:10px 20px;
    margin:0 5px;
    text-decoration: none;
}

.navbar ul{
    display:flex;
}
.button{
    background-color: #1c87c9;
    border-radius: 5px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.transition{
    transform: translateX(250px);
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.animatedMenu{
    display: inline-block;
    cursor:pointer;
    padding-top: 10px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color: #fff;
    margin:6px 0;
    transition: 0.4s;
}
.sidenav{
    height:100%;
    background:#000;
    top:0;
    left:0;
    overflow-x: hidden;
    transition: 0.5s;
    position:fixed;
    z-index:1;
}
.first-img{
    background: url(../images/ll.jpg) no-repeat center center/cover;
    height: 55vh;
    color: white;
    z-index: 10;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding: 0 20px;
    justify-content: center;
}
.first-img span{
    color:#2D3243;
}
.submit-form{
    padding:20px 0;
}
.submit-form input{ 
    width:50%;
    padding:4px;
    height:40px;
    border: 1px solid #f5f5f5;
    font-size:15px;
}
.submit-form button{
    width:100px;
    height:50px;
    border:1px solid rgb(28,135,201,1);
    background:rgb(28,135,201,1);
    font-size:15px;
    border-radius:5px;
    cursor:pointer;
    color:#fff;
}
@media(min-width:450px){
    .sidenav{
        padding-top:60px;
    }
}